.site-logo {
        display: block;
        background: url(../images/background.jpg) no-repeat;
        height: 3.5rem;
        width: 15.1875rem;
        text-indent: -999em;
        margin: 0 auto 2.5rem
}

.icon-badge {
        max-width: 30%
}